@{ViewBag.Title = "Mi-am uitat parola";}
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<form method="post" id="formulmeu">
    <div class="form_settings">
        <p id="emailp"><span>Adresa de Email  </span><input class="contact" type="text" name="adresademail" value="" /></p>
        <input type="submit" value="Reseteaza Parola" class="submit" />
    </div>
</form>
    <script src="~/Scripts/jquery-2.2.0.js"></script>
    <script src="~/Scripts/ValidateForgotPassForm.js"></script>

