body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image:
}
.divTable
{
    display:table;
}
.divTableRow
{
    display:table-row;
}
.divTableCell
{
    display:table-cell;
    width:30%;
    text-align:center;
}
.divGol
{
    margin:10px;
    background-color:#eeeeee;
}


