.divTable
{
    display:table;
    text-align:center;
    width:100%;
    max-width:1140px;
    margin-top:20px;
}
.divTableRow
{
    display:table-row;
    text-align:left;
}
.divTableCell
{
    display:table-cell;
    max-width:380px;
}
.divGol
{
    margin:40px;
    color:#004529;
    border-top:1px solid #dddddd;
    border-bottom:1px solid #dddddd;
    max-width:360px;
    width:100%;
    display:block;
    text-align:center;
    margin:auto;
}

.divGol p 
{
    font-weight:bold;
}

.divGol:hover {
    background-color:#eeeeee;
}

.divGolLayout
{
    margin:10px;
}

#divTableRowHeader
{
    display:table-row;
    text-align:left;
    font-weight:bold;
}