body {
    padding-top: 0px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Menu and footer area*/

#menu {
  width: auto;
}
#menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
}
#menu ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#menu ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
#menu ul li a {
  color: #539d14;
  text-decoration: none;
  display: block;
  padding: 15px 10px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
#menu ul li a:hover {
  color: #539d14;
}
#menu ul li a:hover:before {
  width: 100%;
}
#menu ul li a:after {
  content: "";
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: white;
  opacity: .5;
}
#menu ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #333333;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
#menu ul li.last > a:after,
#menu ul li:last-child > a:after {
  display: none;
}
#menu ul li.active a {
  color: red;
}
#menu ul li.active a:before {
  width: 100%;
}
#menu p
{
  padding: 15px 0px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  color:#539d14;
}
#menu img
{
    max-width:1140px;
}
#footer {
  text-decoration: none;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: left;
  display:block;
  }

#footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 1;
    display: block;
    zoom: 1;
}

#footer ul li {
    display: inline-block;
    padding: 0;
    margin-right: 10px;
}

#menuList
{
    float:right;
}

#pageTitle
{
    float:left;
}

/*general purpose*/

.nav li p
{
    margin-right:20px;
}

body input[type="submit"]
{
	-moz-box-shadow:inset 0px 1px 0px 0px #9acc85;
	-webkit-box-shadow:inset 0px 1px 0px 0px #9acc85;
	box-shadow:inset 0px 1px 0px 0px #9acc85;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #549d14), color-stop(1, #3b8e00));
	background:-moz-linear-gradient(top, #549d14 5%, #3b8e00 100%);
	background:-webkit-linear-gradient(top, #549d14 5%, #3b8e00 100%);
	background:-o-linear-gradient(top, #549d14 5%, #3b8e00 100%);
	background:-ms-linear-gradient(top, #549d14 5%, #3b8e00 100%);
	background:linear-gradient(to bottom, #549d14 5%, #3b8e00 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#549d14', endColorstr='#3b8e00',GradientType=0);
	background-color:#549d14;
	border:1px solid #3b6e22;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
}
body input[type="submit"]:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3b8e00), color-stop(1, #549d14));
	background:-moz-linear-gradient(top, #3b8e00 5%, #549d14 100%);
	background:-webkit-linear-gradient(top, #3b8e00 5%, #549d14 100%);
	background:-o-linear-gradient(top, #3b8e00 5%, #549d14 100%);
	background:-ms-linear-gradient(top, #3b8e00 5%, #549d14 100%);
	background:linear-gradient(to bottom, #3b8e00 5%, #549d14 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3b8e00', endColorstr='#549d14',GradientType=0);
	background-color:#3b8e00;
    text-decoration:underline;
    color:#dddddd;
}
body input[type="submit"]:active {
	position:relative;
	top:1px;
}

.body-content a:link{
   color: #549d14;
   padding:5px;
}

.body-content a:visited {
    color: #3b8e00;
}

.body-content a:hover {
    color: #004529;
    background-color:#eeeeee;
}

.body-content a:active {
    color: #3b8e00;
} 

.form_settings
{ margin: 5px 0 0 0;}

.form_settings p
{ padding: 0 0 10px 0;}

.form_settings span
{ padding: 5px 0; 
  float: left; 
  width: 170px; 
  text-align: left;}
  
.form_settings input, .form_settings textarea
{ width: 252px; 
  padding: 5px 10px;
  background: #fff;
  color: #000;}
  

.form_settings textarea, .form_settings select
{ 
  padding: 5px 10px;
  background: #fff;
  width: 252px;
  overflow: auto;}

.form_settings select
{ width: 274px;}

.form_settings .checkbox
{ margin: 4px 0; 
  padding: 0; 
  width: 14px;
  background: none;

}

.form_settings p
{
    width:75%;
}

.form_settings span
{
    width:33%;
}

#trimitecontact
{
    width:unset;
}

.col-md-10
{
    margin-bottom:20px;
}

.linkUtilizatori:link{
   color: #549d14;
}

.linkUtilizatori:visited {
    color: #3b8e00;
}

.linkUtilizatori:hover {
    color: #004529;
    background-color:#eeeeee;
}

.linkUtilizatori:active {
    color: #3b8e00;
} 

#cdHeader
{
    font-size:16px;
    font-weight:bold;
    text-transform:uppercase;
}

#cdAdresa
{
    margin-top:20px;
}

#cdLeftPane
{
float:left;
}

#cdRightPane
{
    float:right;
}
#cdMasterPane
{
    overflow:hidden;
}