@model WhereToPlay.Models.ViewModel.CourtReservationTimes

<ul class="nav navbar-nav">
    @{foreach (WhereToPlay.Models.DB.ReservationTime item in Model.All)
        {
            <li>
                @Html.CheckBox("cb" + item.Hours, false)
                @Html.Label("l" + item.Hours, item.Hours, false)
            </li>
        }
    }
</ul>

