@model WhereToPlay.Models.ViewModel.CourtReservation

<ul class="nav navbar-nav">
    @{foreach (WhereToPlay.Models.ViewModel.CourtReservationTime item in Model.CourtReservationTimes)
        {
            <li>
                @Html.EditorFor(modelItem=>item.ReservationTime.Hours)
            </li>
        }
    }
</ul>





