@{ ViewBag.Title = "Despre Noi"; }

<p><b>Sunteți interesat să rezervați un teren de sport?</b> WhereToPlay.ro este un site care vă ajută să faceți rezervarea online gratuit și ușor, fără a fi necesară contactarea recepției. Sistem de rezervare online, WhereToPlay.ro răspunde nevoilor moderne de mobilitate și de optimizare a timpului oferit recreerii și exercițiilor fizice.</p>
<p>Doriți să aveți în față toate detaliile legate de ofertele existente? Toate datele necesare rezervării vă sunt acum centralizate și disponibile online. Astfel, decizia nu mai trebuie luată pe moment și în lipsa unor informații importante. WhereToPlay.ro vă oferă posibilitatea de a analiza comparativ facilitățile și tarifele terenurilor de sport care corespund căutărilor dumneavoastră. Puteți vizualiza alături de prieteni informațiile generale și intervalele orare disponibile în timp real, pentru a lua decizia potrivită.</p>
<p><b>Cum procedez?</b> Prin sistemul gratuit de rezervare online, clientul își creează un cont, se înregistrează și își rezervă terenul de sport selectat în intervalul ales printr-o simplă apăsare de buton. Clientul primește pe e-mail sau SMS confirmarea. La fel de accesibilă este și anularea unei rezervări.</p>
<p><b>Prezentare generala</b></p>
<p>Site-ul propune o prezentare complexă a unităților de sport (baze sportive, terenuri, săli de sport) existente în Cluj-Napoca, unde proprietarii de terenuri din Cluj-napova vor putea sa isi inscrie terenul,  oferind pentru fiecare în parte informații privind locația, tarifele practicate, condițiile oferite si nu numai.</p>
<p>Scopul WhereToPlay.ro este crearea unui sistem online eficient pentru persoanele care doresc să desfășoare activități sportive, facilitându-le rezervarea unităţilor de sport dorite, în funcție de locație, de perioadă și de intervalul de timp.</p>
<p>Viziunea WhereToPlay.ro este oferirea unui website informativ şi uşor de utilizat cu scopul de a pune la dispoziția sportivilor amatori sau profesioniști un mod util şi rentabil de a găsi şi rezerva dintr-o selecţie largă de opţiuni locația adecvată pentru a practica sportul dorit in Cluj-Napoca.</p>
<p><b><u>Beneficii pentru utilizatori:</u></b></p>
<p>
    <ul>
        <li>Rezervari la orice ora, 24 din 24 de ore</li>
        <li>Vizualizarea rapida a tuturor pozitiilor libere, avand astfel posibilitatea sa va rezervati unitatile de sport disponibile in locatia si perioada selectata</li>
        <li>Vizualizarea tuturor pozitiilor libere pentru unitățile de sport dintr-o anumită locație, pentru o programare</li>
        <li>Vizualizarea tarifelor, a starii terenului, promotiilor existente pentru anumite intervale orare</li>
        <li>Planificarea adecvată a tuturor programărilor, evităndu-se astfel suprapunerile</li>
        <li>Notificari prin email si SMS la fiecare rezervare noua</li>
    </ul>
</p>
<p><b><u>Beneficii pentru proprietarii de baze sportive:</u></b></p>
<p>
    <ul>
        <li>Reclama gratuita pentru terenurile de sport inscrise pe site</li>
        <li>Posibilitatea de a-si maximiza castigurile</li>
        <li>Sunt zile cand terenurile nu sunt rezervate in proportie de 100%... Nicio problema!</li>
        <li>Pe site sunt afisate pozitiile libere, care pot fi ocupate de persoanele care cauta un teren de sport</li>
        <li>Acces in orice moment la toate terenurile de sport inscrise pe site, direct pe telefonul mobil</li>
        <li>Planificarea adecvata a tuturor programarilor, evitandu-se astfel suprapunerile</li>
        <li>Notificari prin email la fiecare rezervare noua</li>
    </ul>
</p>





